[Desktop Entry]
Name=Nevermail
Comment=COSMIC desktop email client
Exec=nevermail
Icon=com.neverlight.email
Terminal=false
Type=Application
Categories=Network;Email;
Keywords=email;mail;imap;
StartupWMClass=com.neverlight.email
StartupNotify=true
